@font-face {
    font-family: "Buroto";
    src: url(../font/BUROTO/BurotoRegular.ttf);
}

*{
    margin:0;
    padding:0;
}

header{
    background-color: #12244f;
}

#picture img{
    width:100%;
    height:auto;
}

#picture{
    position: relative;
}

#title{
    position: absolute;
    margin-top: -45%;
    width:28%;
    padding-left: 5%;
    color:white;
    height:auto;
    font-family: "Buroto";
}

#title h2{
    font-size: 70px;
    transition: 0.3s;
}

#title p{
    font-size: 20px;
}

#title h2:hover{
    color:#80DDEF;
    transition:0.3s;
}

#line{
    height:5px;
    width:100%;
    background-color: #57d9bf;
}
