@font-face {
    font-family: "Buroto";
    src: url(../font/BUROTO/BurotoRegular.ttf);
}

*{
    margin:0;
    padding:0;
}

header{
    background-color: #245C81;
}

#picture img{
    width:100px;
    height:auto;
}

#picture{
    position: relative;
}

#title{
    position: absolute;
    width: 50%;
    color:white;
    height:auto;
    font-family: "Buroto";
}