@font-face {
    font-family: "Buroto";
    src: url(../font/BUROTO/BurotoRegular.ttf);
}

body {
    margin: 0;
    font-family: "Buroto";
    color: white;
    background-color: black;
}

#picture {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/Clownfish.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

header {
    padding: 20px 0;
    display: flex;
}

header h1 {
    font-size: 42px;
    border-bottom: 4px solid white;
}

#header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-links a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0 10px;
}

#header-links a span {
    border-bottom: 3px solid;
}

@media screen and (min-width: 800px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        margin: 0;
        margin-right: 17.5%;
    }

    #header-links {
        margin-left: 17.5%;
    }

}

@media screen and (max-width: 800px) {
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    header h1 {
        margin: 0;
        width: fit-content; 
    }

    #header-links {
        margin-top: 16px;
    }
}

#text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 147.2px);
}

#info-text {
    width: 65%;
    text-align: center;
    font-size: 1.5em;
}

.color-animation:hover{
    color:#80DDEF;
    border-color: #80DDEF;
    transition:0.3s;
}