@font-face {
    font-family: "Buroto";
    src: url(../font/BUROTO/BurotoRegular.ttf);
}

*{
    margin:0;
    padding:0;
}
header{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
}
#home{
    color: white;
    font-family: "Buroto";
    margin-right: 20px;
    border-bottom: solid white;
}
#info{
    color: white;
    font-family: "Buroto";
    border-bottom: solid white;
}
#picture{
    position: relative;
    background: url(../img/Clownfish.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/Clownfish.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#container{
    height: 400px;
    width: auto;
    padding-left: 7%;
    padding-right: 5%;
    margin-top: 150px;
}
#content{
    max-width: 1310px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    height: 325px;
    width: 500px;
    margin-right: 8px;
}
.logo img{
    height: 325px;
}
.link{
    height: 100px;
    max-width: 320px;
    width: 100%;
    color: white;
    font: bold;
    font-family: "Buroto";
    text-align: center;
}
.link a{
    text-decoration: none;
    color: white;
}
.link a:hover{
    text-decoration: solid;
    cursor: pointer;
} 
.plasticsouplink{
    max-width: 990px;
    width: 100%;
}
#title{
    position: absolute;
    width: 340px;
    padding-left: 60%;
    color:white;
    height:auto;
    font-family: "Buroto";
    padding-top: 100px;
}

@media only screen and (min-width: 650px) {
    
}

@media only screen and (max-width: 650px) {
    #title{
        position: absolute;
        max-width: 340px;
        width: 100%;
        padding-left: 5%;
        color:white;
        height:auto;
        font-family: "Buroto";
    }
    #container{
        border: none;
        height: 300px;
        width: auto;
        padding-left: 7%;
        padding-right: 5%;
        margin-top: 225px;
    }
    #content{
        border: none; 
        max-width: 400px;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo{
        height: 100px;
        width: auto;
        margin-right: 8px;
    }
    .logo img{
        height: 100px;
    }
    .link{
        height: 100px;
        max-width: 100px;
        width: 100%;
        color: white;
        font: bold;
        font-family: "Buroto";
        text-align: center;
    }
    .link a{
        text-decoration: none;
        color: white;
    }
    .link a:hover{
        text-decoration: solid;
        cursor: pointer;
    }
    .plasticsouplink{
        margin-left: 65px;
    }
    header{
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    header a{
        text-decoration: none;
    }
    #home{
        color: white;
        font-family: "Buroto";
        margin-right: 20px;
        border-bottom: solid white;
    }
    #info{
        color: white;
        font-family: "Buroto";
        border-bottom: solid white;
    }
  }